@model Floda.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="px-5">
    <nav aria-label="breadcrumb" class="px-2 pl-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item">@Model.LoaiSanPham.TenLoaiSP</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.TenSP</li>
        </ol>
    </nav>

    <div class="row">

        <!--CHi tiet SP-->

        <div class="col-sm-4" style="height: 500px;text-align: center;" ">

            <div class="product-images" data-columns="4">
                <img src="@Url.Content(Model.UrlHinhAnh)" class="card-img-top" alt="@Model.TenSP" height=350px width=350px>
            </div>

        </div>


        <!--Gia vs ten -->
        <div class="col-sm-6 ">
            <div class="product-info">

                <!-- ten sp lay tu csdl-->
                <div class="row">
                    <h1 class="card-title">@Model.TenSP</h1>
                    <br />
                    <hr />
                    <div class="col-sm-8">
                        <div class="price-wrapper">
                            <!--Gia ban lay tu csdl-->
                            <p class="price" style="color: #ff9292; font-size:26px;  display: flex;"> @Model.GiaBan.Value.ToString("#,##0") VNĐ</p>
                            <br />
                        </div>

                        <form class="cart" action="#" method="post" enctype='multipart/form-data'>
                            <div class="button-add">
                                <input onclick="var result = document.getElementById('quantity'); var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' class="add" />
                                <input id='quantity' min='1' name='quantity' type='text' value='1' />
                                <input onclick="var result = document.getElementById('quantity'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' class="add" />
                            </div>
                        </form>@*
                            <a href="/Cart/Index"><button id="btn" class="btn-buy btn1" style="background-color: #ff9292;margin:30px auto;">Thêm vào giỏ hàng</button></a>*@
                        <button type="button" class="btnActionCart btn btn-buy m-4" style="background-color: var(--bg3-color)"><a href="/ShoppingCart/AddtoCart/@Html.DisplayFor(model => model.SanPhamID).ToString()" style="color: white; text-decoration: none">ADD TO CART</a></button>
                    </div>
                </div>
            </div>
            <!--mo ta-->
            <div class="row">
                <h3 style="text-align: left; font-weight: bold;">Mô tả</h3>
                <br />
                <!--mo ta lay tu csdl-->
                <div class="col-sm-9">
                    <div class="product-footer" style="float:left;">
                        <p>@Model.MoTa</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>