@model Floda.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="container-fluid namecreate">
        <h2>Thêm sản phẩm</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row pb-2">
                    <label class="control-label col-sm-3" for="TenSP">Tên sản phẩm</label>
                    <div class="col-sm-6">
                        
                        @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row pb-2">
                    <label class="control-label col-sm-3" for="LoaiSPID">Loại sản phẩm</label>
                    <div class="col-sm-6">
                        @Html.DropDownList("LoaiSPID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoaiSPID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row pb-2">
                    <label class="control-label col-sm-3" for="SoLuongSP">Số lượng sản phẩm</label>
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.SoLuongSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLuongSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row pb-2p">
                    <label class="control-label col-sm-3" for="GiaBan">Gía bán</label>
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row pb-2">
                    <label class="control-label col-sm-3" for="UrlHinhAnh">Hình ảnh</label>
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.UrlHinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UrlHinhAnh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row pb-2">
                    <label class="control-label col-sm-3" for="MoTa">Mô tả</label>
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-6">
                        <input type="submit" value="Create" class="btn btn-default cre-btn" />  |
                        <button class="btn back-btn">@Html.ActionLink("Back to List", "Index")</button>

                    </div>

                </div>

            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}