@model Floda.Models.HoaDon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="container-fluid namecreate">
        <h3>Bạn có chắc chắn muốn xóa hóa đơn này không ?</h3>
        <hr />
        <div class="row">
            <div class="row pb-2">
                <label class="col-sm-3 fw-bold">Khách hàng ID :</label>
                <div class="col-sm-8">@Html.DisplayFor(model => model.KhachHangID)</div>
            </div>
            <br />
            <div class="row pb-2">
                <label class="col-sm-3 fw-bold">Ngày :</label>
                <div class="col-sm-8">@Html.DisplayFor(model => model.Ngay)</div>
            </div>
            <br />
            <div class="row pb-2">
                <label class="col-sm-3 fw-bold">Tổng tiền :</label>
                <div class="col-sm-8"> @Html.DisplayFor(model => model.TongTien)</div>
            </div>


        </div>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger delete-btn" /> |
                <button class="btn back-btn">@Html.ActionLink("Back to List", "Index")</button>

            </div>
        }

    </div>
</div>

